
#add-score {
	display: none;

	fieldset {
		width: 6em;
		margin: 0 auto;

		* {
			margin: .5em;
		}

		button {
			padding: .5em 2em;
			border-radius: 0;
			background: #FF3800;
			color: white;
			border: none;
		}
	}
}

#add-score, #show-score, #highscore-board {
	font-family: 'helvetica';
	margin: 0 0 2em 0;

	h2 {
		@include font-size(24px);
		margin: 0 0 1em 0;
	}

	li {
		@include font-size(14px);
		margin: 0 0 1em 0;
	}

	p {
		font-family: 'helvetica';
		@include font-size(14px);
		margin: 0 0 2em 0;
	}
}

#highscore-board {
	h2 {
		padding: .5em;
		background: #FF3800;
		color: white;
	}
}

.header {
	font-family: 'helvetica';
	font-size: 1.5em;
	color: white;
	background: #FF3800;
	padding: .5em;
}

.posRel {
	position: relative;
}

.posAbs {
	position: absolute;
}

.main-content {
	display: none;
	@include center();
	text-align: center;
	width: 25em;
	height: auto;
	background: white;
	padding: 2.5em;
	color: #FF3800;
	border-top: 1em solid #FF3800;
	z-index: 100;
	h1 {
		font-family: 'helvetica';
		@include font-size(24px);
		margin: 0 0 1em 0;
	} 
	p {
		font-family: 'helvetica';
		margin: 0 0 2em 0;
	}
	li {
		font-family: 'helvetica';
		list-style: none;
	}
}

.flex-container {
	  display: -webkit-flex; /* Safari */
	  display: flex;
	  -webkit-flex-direction: column; /* Safari */
	  flex-direction:         column;
	  -webkit-flex-wrap: nowrap; /* Safari */
	  flex-wrap:         nowrap;
	  -webkit-align-items: stretch; /* Safari */
	  align-items:         stretch;
	  width: 100vw;
	  height: 96vh;
}

.obox {
	display: flex;
	-webkit-flex: 1 1 auto; /* Safari */
	flex: 1 1 10em;  
	
	.ibox {
		-webkit-flex: 1 1 auto; /* Safari */
		flex: 1 1 10em; 
		perspective: 1000;
		cursor: pointer;
		&:hover {
			.flipper {
				/*transform: rotateY(180deg);*/
			}
		}

		.flipper {
			-webkit-transition: 0.6s;
			-webkit-transform-style: preserve-3d;

			-moz-transition: 0.6s;
			-moz-transform-style: preserve-3d;
		  
		  -o-transition: 0.6s;
			-o-transform-style: preserve-3d;

			transition: 0.6s;
			transform-style: preserve-3d;

			position: relative;
			height: 100%;
		}

		.front, .back {
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
		  -o-backface-visibility: hidden;
			backface-visibility: hidden;

			position: absolute;
			top: 0;
			left: 0;
		}

		.back {
			-webkit-transform: rotateY(180deg);
			-moz-transform: rotateY(180deg);
		  -o-transform: rotateY(180deg);
			transform: rotateY(180deg);

			padding: .5em;
			background: #f8f8f8;
			
			position: relative;
			i {
				position: absolute;
				@include center();
				@include font-size(60pt);
				z-index: 2;
			}
		}
	}
}

/* Icons button */
.back{
	position: relative;
	width: 500px;
	height: 500px;
	margin: 0 auto;
}

.icobutton {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 3em;
	color: #c0c1c3;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.icobutton .fa {
	display: block;
	padding: 0 0.1em;
}

/* fix for mo.js */
.icobutton svg {
	left: 0;
}


li {
	list-style: none;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}